<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Template!</title>

        <link rel="stylesheet" href="/public/css/normalize-8.0.1.min.css">
        <link rel="stylesheet" href="/public/css/layout-sidebar.css">
        <link rel="stylesheet" href="/public/css/styles.css">
    </head>
    <body>
    <aside>
        <div class="heading">
            <h1 class="m-0">Sidebar heading!</h1>
        </div>
        <div class="sidebar">
            content
        </div>
    </aside>
    <main>
        <h1>Here's your main content.</h1>
    </main>
    </body>
</html>