/* main layout */
body {
    height: 100vh;
    display: flex;
    overflow: hidden;
}
main {
    /*--responsive-width: clamp();*/
    flex: 1 0 75%;
    overflow-y: auto;
    background: white;
    padding: 10px;
}
aside {
    flex: 1 0 auto;
    background: #ccc;
    padding: 15px;
}

/* sidebar */
aside .heading {
    padding: 5px;
    border-bottom: 2px solid gray;
}